@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f3f6f6; /* 干净的雾白色 */
  --foreground: #335252; /* 融合了绿和蓝的深色，非常稳重 */
  --accent: #6fa774; /* 草地的绿色，充满活力 */
  --muted: #dde6e2; /* 带有极淡绿色的灰色 */
  --border: #cbd7d2; /* 边框色 */
}

html[data-theme="dark"] {
  --background: #1b3138; /* 深邃的、近乎黑色的山体 */
  --foreground: #eaf3f1; /* 浅色的雾气，用于文字 */
  --accent: #d7b8cc; /* 天边的柔和粉紫色，作为点缀，非常别致 */
  --muted: #4c6973; /* 中等色调的蓝色山体 */
  --border: #5a7b85; /* 边框色 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
